---
import tw from "clsx";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>static_lists</title>
    <link
      href="https://api.fontshare.com/v2/css?f[]=tabular@1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class={tw`font-tabular font-[500]`}>
      <slot />
    </div>
  </body>
</html>
